/*=============================
    Maint Content
==============================*/
body {
    background-color: aquamarine;
}
.conditioner {
    width: 100%;
    text-align: center;
}

.spancolor {
}

.tweek {
    color: indigo;
    display: inline-block;
    border: 10px solid red;
    padding: 20px;
}

